*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	margin: 0 auto;
	max-width: 1200px;
	padding: 50px;
}

.btn{
	outline:none;
	border:0;
	cursor: pointer;
	display: block;
	position: relative;
	background: #fcad26;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding: 25px 80px;
	margin:0 auto 30px;
	border-radius: 20px;
	box-shadow: 0 6px #efa424;

}
.btn:hover{
	
	box-shadow: 0 4px #efa424;
	top:2px;
}
.btn:active{
	box-shadow: none;
	top:6px;
}
img{
	/*width: 100%;*/
}
.image-gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.col{
	width: 32%;
	height: 250px;
	overflow: hidden;
	position: relative;
}
.col i{
	position: absolute; 
	color: #fff;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	font-size: 32px;
}
.col:hover i{
	transform: translate(-50%, -50%) scale(2);
}
.col *{
	transition: .2s;
}
.col:hover img{
	opacity: 0.5;
	filter: grayscale(100%);
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}