*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	margin: 0 auto;
	max-width: 800px;
	padding: 50px;
}

.btn{
	outline:none;
	border:0;
	cursor: pointer;
	display: block;
	position: relative;
	background: #fcad26;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding: 25px 80px;
	margin:0 auto;
	border-radius: 20px;
	box-shadow: 0 6px #efa424;
}
.btn:hover{
	
	box-shadow: 0 4px #efa424;
	top:2px;
}
.btn:active{
	box-shadow: none;
	top:6px;
}